@charset "utf-8";

#box {
    width: 300px;
    height: auto;
    padding: 20px;
    border: 1px solid gray;
    background-color: rgb(210, 232, 247);
    box-sizing: border-box;
  }

#box li {
    margin-top: 2px;
    margin-left: 50px;
  }

.hoso{
    width: 30%;
    box-sizing: border-box;
}